<h1>Enter A New Brewery</h1>

<%= form_for(@brew) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :street, "Street Address" %><br />
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state,"State Abbreviation" %><br />
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :rating, "How would your rate the brewery?" %><br />
    <%= f.radio_button :rating, 'Good' %> Good
    <%= f.radio_button :rating, 'Okay' %> Okay
    <%= f.radio_button :rating, 'Bad' %> Bad
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
